<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @owner.first %></h1>
    <p>
      You have a pending share request. To check it please log in your profile page.

    </p>
    <p>

    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
