
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Pupshare!, <%= @owner.first %></h1>
    <p>
      You have successfully signed up to Pupshare.com, go rent some dogs!

    </p>
    <p>

    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
