Welcome <%= @owner.email %> Owner
<br>
<h1>my dogs</h1>
<% @owner.dogs.each do |dog| %>
<%= link_to dog.name, owner_dog_path(current_owner, dog) %><br>
<%= dog.description %><br>

<% end %>

<br>
<%= link_to "add a dog!", new_owner_dog_path(current_owner) %>
