
<ul>
  <% @dogs.each do |dog| %>
    <li> <%= image_tag dog.image class: "image" %> <%= dog.name %></li>
    <%= link_to "rent dog",  new_dog_rental_path(dog) %>
    <% end %>
    <br>
    <%= link_to "Back", :back %>
</ul>
