<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      img {
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h1>Pupshare</h1>
    <hr>
    <h2>Hey!, <%= @sitter.first %></h2>
    <p>
      Sorry the dog <%= @rental.dog.name %> is not available to rent at this time.
      </p>

    <h2> Thanks for joining and have a great day!  </h2>
  </body>
</html>
