<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey!, <%= @sitter.first %></h1>
    <p>
      You have successfully scheduled a share reqeust if the owner approves check your profile page.

    </p>
    <p>

    </p>
    <p>Thanks  and have a great day!</p>
  </body>
</html>
