<div class="team-grid">
  <div class="pupBlurb">
    <div class="container">
            <h2 class="text-center">What is Pupshare?</h2>
            <p class="text-center">
                PupShare is a canine-caring co-op for dog lovers everywhere! We not only provide the quality care dog owners need for their loved ones, but also the opportunity for dog-lovers to spend quality time with a new K9 friend. Whether your home or schedule
                prohibits having a long-term pup, you can still share the love without the burden of commitment.
            </p>
          </div>
        </div>
        <div class="container">
        <div class="intro">
            <h2 class="text-center">Team
            </h2>
            <p class="text-center">
              Meet our team of full-stack developers and dog-enthusiasts!
            </p>
        </div>
        <div class="row people">
            <div class="col-md-3 col-sm-4 item">
                <div class="box" style="background-image:url(http://i.imgur.com/qxyJF0k.jpg)">
                    <div class="cover">
                        <h3 class="name">Jon Hall</h3>
                        <p class="title">Full Stack Developer
                        </p>
                        <div class="social">
                            <a href="#">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="box" style="background-image:url(http://i.imgur.com/N87r46V.jpg)">
                    <div class="cover">
                        <h3 class="name">Virginia Chae</h3>
                        <p class="title">Full Stack Developer
                        </p>
                        <div class="social">
                            <a href="#">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="box" style="background-image:url(http://i.imgur.com/8waI6MD.jpg)">
                    <div class="cover">
                        <h3 class="name">Katie Dodd</h3>
                        <p class="title">Full Stack Developer
                        </p>
                        <div class="social">
                            <a href="#">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 item">
                <div class="box" style="background-image:url(http://i.imgur.com/UoSru1H.png)">
                    <div class="cover">
                        <h3 class="name">Kyle Russell</h3>
                        <p class="title">Full Stack Developer
                        </p>
                        <div class="social">
                            <a href="#">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
