    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">PupShare started out of our mutual love for dogs. We realized that although there are many dog lovers out there, but many cannot own their own due to a variety of circumstances (landlords, allergies of loved ones). PupShare was our brilliant solution. Hope you enjoy! &nbsp; </p>
            </div>
            <div class="row people">
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(http://i.imgur.com/qxyJF0k.jpg)">
                        <div class="cover">
                            <h3 class="name">Jon Hall</h3>
                            <p class="title">Musician</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(http://i.imgur.com/N87r46V.jpg)">
                        <div class="cover">
                            <h3 class="name">Virginia Chae</h3>
                            <p class="title">Artist </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(http://i.imgur.com/8waI6MD.jpg)">
                        <div class="cover">
                            <h3 class="name">Katie Dodd</h3>
                            <p class="title">Stylist </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <div class="box" style="background-image:url(http://i.imgur.com/UoSru1H.png)">
                        <div class="cover">
                            <h3 class="name">Kyle Russell</h3>
                            <p class="title">Model </p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
