<div class="jumbotron hero">
		<div class="container">
				<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 get-it">
								<h1>Rent a Puppy!</h1>
								<p>PupShare is an app for dog lovers everywhere! Puppy kitty ipsum dolor sit good dog good boy leash furry kitty spike vitamins ball. Cage fur shake kibble swimming window bedding bark pet vitamins Scooby snacks whiskers cage catch good boy dog house Mittens barky. Pet chew field window bark meow dragging throw furry chew slobber park tabby Rover. Meow run tail leash play dead swimming twine vaccination bird vaccination lazy cat fleas puppy fleas canary kitten. Tongue lol catz lick bird groom wag tail feathers throw yawn tooth. Vaccination catch play dead water right paw polydactyl fish drool vitamins furry chew. Sit slobbery parakeet shake crate window dog house swimming string tongue drool dinnertime behavior foot walk fish bark tooth fish aquarium. Dog House fleas turtle collar walk aquarium parakeet turtle critters Spike feeder gimme five collar. Fido fleas ID tag ball slobber good boy stick lick wet nose turtle licks critters string cockatiel litter Rover.Small Animals barky purr chirp fleas dog house field dog pet gate nest. Maine Coon Cat lick speak heel collar small.</p>
								<p><a class="btn btn-primary btn-lg" role="button" href="/owners/sign_up"> Sign up as a dog owner!</a>
									<br>
									<a class="btn btn-success btn-lg" role="button" href="/sitters/sign_up"> Sign up as a dog sitter!</a></p>
						</div>
				</div>
		</div>
</div>
<section class="testimonials">
		<h2 class="text-center">People Love It!</h2>
		<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer>Famous tech website</footer>
		</blockquote>
</section>
<section class="features">
		<div class="container">
				<div class="row">
						<div class="col-md-6">
								<h2>Our Simple Network of</h2>
								<p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
						</div>
						<div class="col-md-6">
								<div class="row icon-features">
										<div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-knight"></i>
												<p>Dogs</p>
										</div>
										<div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-user"></i>
												<p>Owners</p>
										</div>
										<div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-sunglasses"></i>
												<p>Sitters</p>
										</div>
								</div>
						</div>
				</div>
		</div>

</section>
<footer class="site-footer">
		<div class="container">
				<div class="row">
						<div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
</footer>
