<div class="jumbotron hero">
		<div class="container">

								<a class="pupshare" href="/about"><h1 class="pupshare">PupShare</h1></a>
								<p class="links"><a class="btn btn-info btn-md hero-btn" role="button" href="/owners/sign_up"> Sign up as a dog owner!</a>
									<a class="btn btn-warning btn-md hero-btn" role="button" href="/sitters/sign_up"> Sign up as a Pup Friend!</a></p>
								</div>
							</div>
