<div class="jumbotron hero">
		<div class="container">

				<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 get-it">
								<h1>Share a Puppy!</h1>
								<p><a class="btn btn-primary btn-lg" role="button" href="/owners/sign_up"> Sign up as a dog owner!</a>
									<br>
									<a class="btn btn-success btn-lg" role="button" href="/sitters/sign_up"> Sign up as a Pup Friend!</a></p>
						</div>
				</div>
		</div>
</div>
<section class="testimonials">
		<h2 class="text-center">People Love It!</h2>
		<blockquote>
				<footer>Dog Owner</footer>
		</blockquote>
</section>
<section class="features">
		<div class="container">
				<div class="row">
						<div class="col-md-6">
								<h2>Our Simple Network</h2>
								<p>PupShare is a way for dog lovers who cannot own dogs to share a dog with dog owners in the surrounding areas. All users go through a extensive background check so your pups and you will always be safe. If you would like to know more about PupShare check out our <a href="/about">about</a> page! </p>
						</div>
						<div class="col-md-6">
								<div class="row icon-features">
										<div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-knight"></i>
												<p>Dogs</p>
										</div>
										<div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-user"></i>
												<p>Owners</p>
										</div>
										<div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-ice-lolly-tasted"></i>
												<p>Pup Friends</p>
										</div>
								</div>
						</div>
				</div>
		</div>

								<a class="pupshare" href="/about"><h1 class="pupshare">PupShare</h1></a>
								<p class="links"><a class="btn btn-info btn-md hero-btn" role="button" href="/owners/sign_up"> Sign up as a dog owner!</a>
									<a class="btn btn-warning btn-md hero-btn" role="button" href="/sitters/sign_up"> Sign up as a Pup Friend!</a></p>
								</div>
							</div>
