// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-clean {
  color:#313437;
  background-color:#fff;
}

.projects-clean p {
  color:#7d8285;
}

.projects-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .projects-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.projects-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.projects-clean .intro p {
  margin-bottom:0;
}

.projects-clean .projects {
  padding-bottom:40px;
}

.projects-clean .item {
  text-align:center;
  padding-top:50px;
  min-height:425px;
}

.projects-clean .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.projects-clean .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:0;
}

.dog-show-img {
  height: 300px;
}

.yellow {
  border-radius: 2pt;

  background: yellow;


}

#map {
  margin-bottom: 10px;
}

.dog-index{
  height: 300px;
  display: block;
  margin: auto;
}

.breadcrumb {
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #eee;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:40px;
}


@media (min-width:992px) {
  .product h2 {
    margin-top:0;
  }
}

.navbar .navbar-brand {
  font-size:24px;
  line-height:18px;
}

.reviewer-name {
  margin-right:10px;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

.btn.write-review {
  float:right;
  margin-top:-6px;
}

.top-margin {
	margin-top: 30px;
}
