// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  margin-bottom:0;
  border:none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
  background-color: transparent;
}

.hero-btn{
  background-color: rgba(0, 0, 0, .2) !important;
  background: rgba(0, 0, 0, .2) !important;
  border-color: white !important;
}

.hero-btn:hover{
  background-color: transparent !important;
  background: transparent !important;
  border-color: white !important;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.hero {
  background:url('http://i.imgur.com/AyJT48R.jpg') no-repeat center;
  background-size: cover;
  border:none;
  height: 100vh;
}

.pupshare{
  padding-top: 10%;
  text-align: center;
  font-size: 100px !important;
  color: white !important;
  text-shadow: 1px 1px #000000;
}

.pupshare:hover{
  text-decoration: none;
}

.pupBlurb{
  padding-top: 10%;
  background-image: url('http://i.imgur.com/xcyoZow.jpg');
  background-size: cover;
  height: 100vh;
  color: black;
  opacity: .6;
}

.pupBlurb p{
  font-size: 18px;
  color: black !important;
}

.mainLinks{
  text-align: center;
  padding-top: 5%;

}

@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview {
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn {
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup {
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:100%;
  height:auto;
}

.iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features {
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

.team-grid {
  color:#313437;
  background-color:#fff;
}

.team-grid p {
  color:#7d8285;
}

.team-grid h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-grid h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-grid .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-grid .intro p {
  margin-bottom:0;
}

.team-grid .people {
  padding:50px 0;
}

.team-grid .item {
  margin-bottom:30px;
}

.team-grid .item .box {
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:280px;
  position:relative;
  overflow:hidden;
}

.team-grid .item .cover {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(31,148,255,0.75);
  transition:opacity 0.15s ease-in;
  opacity:0;
  padding-top:80px;
  color:#fff;
  text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
  opacity:1;
}

.team-grid .item .name {
  font-weight:bold;
  margin-bottom:8px;
}

.team-grid .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#bbd8fb;
  letter-spacing:2px;
  font-size:13px;
  margin-bottom:20px;
}

.team-grid .social {
  font-size:18px;
}

.team-grid .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-grid .social a:hover {
  opacity:1;
}
