<!DOCTYPE html>
<html>
  <head>
    <title>Pupshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>this is pupshare!</h1>
    <%= yield %>
  </body>
</html>
